<library path="lib/librqt_fake_imu">
  <class name="FakeImu" type="rqt_fake_imu::FakeImu" base_class_type="rqt_gui_cpp::Plugin">
    <description>Simulate IMU outputs without real sensor.</description>
    <qtgui>
      <group>
        <label>Fake Sensor Tools</label>
        <icon type="theme">folder</icon>
      </group>
      <label>Fake IMU</label>
      <icon type="file">images/tag300.png</icon>
      <statustip>Simulate IMU outputs without real sensor.</statustip>
    </qtgui>
  </class>
</library>
