<library path="lib/librqt_fake_gnss">
  <class name="FakeGnss" type="rqt_fake_gnss::FakeGnss" base_class_type="rqt_gui_cpp::Plugin">
    <description>Simulate GNSS outputs without real sensor.</description>
    <qtgui>
      <group>
        <label>Fake Sensor Tools</label>
        <icon type="theme">folder</icon>
      </group>
      <label>Fake GNSS</label>
      <icon type="file">images/C099-F9P.png</icon>
      <statustip>Simulate GNSS outputs without real sensor.</statustip>
    </qtgui>
  </class>
</library>
