<library path="rqt_fake_livox">
  <class name="FakeLivox" type="rqt_fake_livox::FakeLivox" base_class_type="rqt_gui_cpp::Plugin">
    <description>Simulate Livox outputs without real sensor.</description>
    <qtgui>
      <group>
        <label>Fake Sensor Tools</label>
        <icon type="theme">folder</icon>
      </group>
      <label>Fake Livox</label>
      <icon type="file">images/horizon.png</icon>
      <statustip>Simulate Livox outputs without real sensor.</statustip>
    </qtgui>
  </class>
</library>
